* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background-image: url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80"); */
  background-size: cover;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#box1 {
  height: 100px;
  width: 100px;
  border: 5px solid red;
  margin: 10px;
  padding: 10px;
}

#box2 {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
}

#box3 {
  height: 100px;
  width: 100px;
  border: 2px dashed green;
  margin: 10px;
  padding: 10px;
}
